.content {
  margin: 0 10px;
  height: 98%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .tittle-calendar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
  }

  calendar {
    ::ng-deep {
      .monthview-primary-with-event{
        background-color: #CC6600;
      }
      .monthview-current {
        background-color: var(--ion-color-step-400);
      }
      .monthview-selected {
        background-color: var(--ion-color-primary);
      }

      ion-list {
        margin-top: 10px;
        border: none;

        ion-item {
          color: var(--ion-color-step-850);
          span {
            padding: 0;
            margin: 0;
            font-weight: bold;
          }
        }
      }
    }
  }

  .footer-buttons {
    display: flex;
    flex-direction: row;
    justify-content: stretch;

    ion-nav-link {
      width: 49%;
      flex-grow: 1;
      font-size: 14px;
      ion-button {
        margin: 0 4px;
      }
    }
  }
}
