<ion-header>
    <ion-toolbar>
        <ion-title size="medium">Студии</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="studio-item" *ngFor="let item of studiosList">
        <div class="item-content">
            <ion-img [src]="item.img"></ion-img>
            <div class="studio-text">
                <span> {{item.title}} </span> <br>
                <ion-text> {{item.body}} </ion-text>
            </div>
        </div>
        <ion-buttons>
            <ion-nav-link>
                <ion-button fill="clear">Подробнее</ion-button>
            </ion-nav-link>
            <ion-nav-link [component]="studiosList">
                <ion-button fill="solid">Записаться</ion-button>
            </ion-nav-link>
        </ion-buttons>
    </div>

    <ion-label *ngIf="!(studiosList && studiosList.length)"> Приложению необходимо соединение с интернетом </ion-label>
</ion-content>
