<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="showInfo()">
        <ion-icon name="information-circle"></ion-icon>
      </ion-button>
      <ion-button (click)="fromCamera()">
        <ion-icon name="camera"></ion-icon>
      </ion-button>
      <ion-button (click)="fromGallery()">
        <ion-icon name="images"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="title-text">
    Мероприятие хорошее
    <p>
      Дата проведения: 10.10.2020 <br>
      Место проведения: Студгородок на Бутлерова <br>
    </p>
  </div>

  <ion-grid *ngFor="let date of currentDates">
    <p> {{date.date}} </p>
    <ion-row>
      <ion-col size="3"
               *ngFor="let photo of date.images">
        <ion-img [src]="photo.webViewPath"
                 (click)="showPicture(photo.id)">
        </ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

<!--  <ion-fab vertical="bottom" horizontal="center" slot="fixed">-->
<!--    <ion-fab-button>-->
<!--      <ion-icon name="add" size="large"></ion-icon>-->
<!--    </ion-fab-button>-->
<!--    <ion-fab-list side="end">-->
<!--      <ion-fab-button (click)="fromCamera()">-->
<!--        <ion-icon name="camera"></ion-icon>-->
<!--      </ion-fab-button>-->
<!--      <ion-fab-button (click)="fromGallery()">-->
<!--        <ion-icon name="images"></ion-icon>-->
<!--      </ion-fab-button>-->
<!--    </ion-fab-list>-->
<!--  </ion-fab>-->

</ion-content>
