ion-header {
  ion-icon {
    font-size: 25px;
  }
}

.title-text {
  padding-top: 15px;
  margin-left: 25px;
  font-size: 28px;

  p {
    font-size: 15px;
    font-weight: 300;
  }
}

ion-grid {
  p {
    margin-left: 20px;
    color: var(--ion-color-step-750);
    font-size: 15px;
  }

  ion-row {
    ion-col {
      padding: 2px;
    }
  }
}
