<ion-content [fullscreen]="true">
  <div class="main-header">
    <div class="moving-class">
      <img src="././assets/{{headerColor()}}-header.png" alt="">
    </div>
  </div>

  <div class="cds-text">
    <div class="title-text">Центр досуга студентов</div>
    <p> Это многофункциональная площадка для реализации творческого потенциала студентов </p>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Расписание на сегодня:</ion-card-subtitle>
      <ion-card-title> Вторник - 24.11.2020 </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-icon name="caret-forward"></ion-icon>
      12:00-14:00 | Репетиция говна <br>
      <ion-icon name="caret-forward"></ion-icon>
      16:00-18:00 | Еще одна
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="aboutUs()"
                    [style.height.px]="barButtonSize"
                    [style.width.px]="barButtonSize"
                    fill="outline"
                    color="medium">
          <div class="button-content">
            <ion-icon name="information"
                      [style.fontSize.px]="barButtonSize/2">
            </ion-icon>
            <span>О нас</span>
          </div>
        </ion-button>

        <ion-button (click)="aboutApp()"
                    [style.height.px]="barButtonSize"
                    [style.width.px]="barButtonSize"
                    fill="outline"
                    color="medium">
          <div class="button-content">
            <ion-icon name="help"
                      [style.fontSize.px]="barButtonSize/2">
            </ion-icon>
            <span>О приложении</span>
          </div>
        </ion-button>

        <ion-button (click)="redirectToWebsite()"
                    [style.height.px]="barButtonSize"
                    [style.width.px]="barButtonSize"
                    fill="outline"
                    color="medium">
          <div class="button-content">
            <ion-icon name="logo-chrome"
                      [style.fontSize.px]="barButtonSize/2">
            </ion-icon>
            <span>Наш сайт</span>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
