.main-header {
  background-color: var(--ion-color-primary);
  width: 100%;
  height: 180px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;

  .moving-class{
    height: 100%;
    animation-name: moving;
    animation-duration: 3.5s;
    animation-iteration-count: 1;
    img {
      float: right;
      margin-top: -99px;
      margin-right: -67px;
      height: 160%;
      animation-name: rotation;
      animation-duration: 3.5s;
      animation-iteration-count: 1;
    }
  }
}

.cds-text {
  padding: 0 20px;

  .title-text {
    margin: 20px 0 10px;
    font-weight: normal;
    font-size: 28px;
  }

  p {
    font-weight: 300;
    color: var(--ion-color-step-600);
  }
}

ion-card {
  margin: 30px 17px 10px;
  border-radius: 14px;

  ion-card-title {
    ion-skeleton-text {
      height: 28px;
      width: 90%;
    }
  }

  ion-card-content {
    ion-skeleton-text {
      height: 15px;
      padding-bottom: 2px;
    }
  }
}

ion-grid {
  ion-col {
    display: flex;
    justify-content: space-around;
  }

  ion-button {
    margin: 4px;
    --border-radius: 30px;
    .button-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      color: var(--ion-color-step-600);
      ion-icon {
        margin-bottom: 5px;
      }
      span {
        font-size: 10px;
      }
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes moving {
  0% {
    transform: translateX(240px);
  }
  100% {
    transform: translateX(0px);
  }
}
