<ion-content [fullscreen]="true">
  <div class="main-header">
    <div class="moving-class">
      <img src="././assets/{{headerColor()}}-header.png" alt="">
    </div>
  </div>

  <div class="cds-text">
    <div class="title-text">Центр досуга студентов</div>
    <p> Это многофункциональная площадка для реализации творческого потенциала студентов </p>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Расписание на сегодня:</ion-card-subtitle>
      <ion-card-title>
        {{tEvents?.title}}
        <ion-skeleton-text *ngIf="!tEvents" animated></ion-skeleton-text>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div *ngFor="let item of tEvents?.content">
        <ion-icon name="caret-forward"></ion-icon>
        {{item}}
      </div>
      <div *ngIf="!tEvents">
        <ion-skeleton-text style="width: 80%" animated></ion-skeleton-text>
        <ion-skeleton-text style="width: 58%" animated></ion-skeleton-text>
        <ion-skeleton-text style="width: 32%" animated></ion-skeleton-text>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="aboutUs()"
                    [style.height.px]="barButtonSize"
                    [style.width.px]="barButtonSize"
                    fill="outline"
                    color="medium">
          <div class="button-content">
            <ion-icon name="information"
                      [style.fontSize.px]="barButtonSize/2">
            </ion-icon>
            <span>О нас</span>
          </div>
        </ion-button>

        <ion-button (click)="aboutApp()"
                    [style.height.px]="barButtonSize"
                    [style.width.px]="barButtonSize"
                    fill="outline"
                    color="medium">
          <div class="button-content">
            <ion-icon name="help"
                      [style.fontSize.px]="barButtonSize/2">
            </ion-icon>
            <span>О приложении</span>
          </div>
        </ion-button>

        <ion-button (click)="redirectToWebsite()"
                    [style.height.px]="barButtonSize"
                    [style.width.px]="barButtonSize"
                    fill="outline"
                    color="medium">
          <div class="button-content">
            <ion-icon name="logo-chrome"
                      [style.fontSize.px]="barButtonSize/2">
            </ion-icon>
            <span>Наш сайт</span>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
