.main-header {
  background-color: var(--ion-color-primary);
  width: 100%;
  height: 180px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;

  img {
    margin-top: -99px;
    float: right;
    height: 160%;
    right: 0;
  }
}

.cds-text {
  padding: 0 20px;

  .title-text {
    margin: 20px 0 10px;
    font-weight: normal;
    font-size: 28px;
  }

  p {
    font-weight: 300;
    color: var(--ion-color-step-600);
  }
}

ion-card {
  margin: 30px 17px 10px;
  border-radius: 14px;
}

ion-grid {
  ion-button {
    margin: 4px;
    --border-radius: 30px;
    .button-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      color: var(--ion-color-step-600);
      ion-icon {
        margin-bottom: 5px;
      }
      span {
        font-size: 10px;
      }
    }
  }
}
