<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="medium">Уважение</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar mode="ios"
                 placeholder="Поиск по дате, месту, названию"
                 debounce="500"
                 (ionChange)="searchBar($event)">
  </ion-searchbar>

  <ion-refresher slot="fixed" (ionRefresh)="updateRespects($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-nav-link [component]="currentRespectPage"
                [componentProps]="{}"
                *ngFor="let respect of filteredRespectList">
    <ion-card>
      <ion-card-header [ngClass]="chooseRespectStyle(respect)">
        <div class="event-titles">
          <ion-card-subtitle>
            {{respect.date}}
            <ion-badge>{{respect.imagesCount}}</ion-badge>
          </ion-card-subtitle>
          <ion-card-title>
            {{respect.title}}
            <p>
              <ion-icon name="location-outline"></ion-icon>
              {{respect.location}}
            </p>
          </ion-card-title>
        </div>
      </ion-card-header>
    </ion-card>
  </ion-nav-link>
</ion-content>
