ion-searchbar {
  padding: 15px 15px 2px;
}

.date-pickers {
  background-color: var(--ion-color-step-100);
  border-radius: 10px;
  margin: 10px 15px 2px;
  padding: 15px 20px 10px;

  p {
    color: var(--ion-color-step-600);
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  %default-ion-item {
    font-size: 16px;
    font-weight: 300;
    --padding-start: 0;
    --background: none;
    --background-activated: none;
    --color: var(--ion-color-step-900);
    --border-color: var(--ion-color-step-900);

    ion-datetime {
      --padding-start: 0;
      --padding-bottom: 0;
    }
  }

  .visible-picker {
    @extend %default-ion-item;
    transition: visibility .3s, opacity .5s, margin-top .3s;
    opacity: 1;
    visibility: visible;
  }

  .hide-picker {
    @extend %default-ion-item;
    transition: visibility .3s, opacity .1s, margin-top .3s;
    opacity: 0;
    margin-top: -55px;
    visibility: hidden;
  }

  ion-buttons {
    display: flex;
    justify-content: flex-end;
    ion-button {
      font-size: 14px;
      margin-right: -8px;

      ion-icon {
        margin-left: 5px;
        font-size: 25px;
      }
    }
  }
}

ion-card {
  margin: 15px;
  border-radius: 10px;
}

%default-header {
  border: 2px solid;
  border-radius: 10px;

  .event-titles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    ion-card-subtitle {
      font-size: 16px;
      font-weight: bold;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      ion-badge {
        padding: 0;
        border-radius: 12px;
        height: 23px;
        width: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    ion-card-title {
      font-size: 24px;

      p {
        font-size: 15px;
        margin: 15px 0 0;
        font-weight: 300;

        ion-icon {
          margin-bottom: -1px;
        }
      }
    }
  }
}

.success-header {
  @extend %default-header;
  border-color:  var(--ion-color-primary);

  ion-badge {
    background-color: var(--ion-color-primary);
  }
}

.danger-header {
  @extend %default-header;
  border-color: var(--ion-color-danger);

  ion-badge {
    background-color: var(--ion-color-danger);
  }
}

.neutral-header {
  @extend %default-header;
  border-color: var(--ion-color-step-600);

  ion-badge {
    background-color: var(--ion-color-step-600);
  }
}
