<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="medium">Уважение</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar mode="ios"
                 placeholder="Поиск"
                 debounce="500"
                 (ionChange)="searchBar($event)">
  </ion-searchbar>

  <ion-nav-link [component]="currentRespectPage"
                [componentProps]="{}"
                *ngFor="let item of ['success-header', 'danger-header', 'neutral-header']">
    <ion-card>
      <ion-card-header [ngClass]="item">
        <div class="event-titles">
          <ion-card-subtitle>
            23.05.2020
            <ion-badge>55</ion-badge>
          </ion-card-subtitle>
          <ion-card-title>
            Мероприятие
          </ion-card-title>
        </div>
      </ion-card-header>
    </ion-card>
  </ion-nav-link>
</ion-content>
