<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="medium">Уважение</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar mode="ios"
                 placeholder="Поиск"
                 debounce="400"
                 (ionChange)="searchBar($event)">
  </ion-searchbar>

  <div style="width: 100%">
    <div class="date-pickers">
      <p> {{dateTitle}} </p>
      <form [formGroup]="datesFormGroup">
        <ion-item [ngClass]="isDatepickerVisible ? 'visible-picker' : 'hide-picker'">
          <ion-datetime max="2025"
                        displayFormat="DDD. DD MMM , YYYY"
                        [monthShortNames]="monthShortNames"
                        [dayShortNames]="dayShortNames"
                        cancelText="Отмена"
                        done-text="Ок"
                        formControlName="startDate">
          </ion-datetime>
        </ion-item>

        <ion-item [ngClass]="isDatepickerVisible ? 'visible-picker' : 'hide-picker'"
                  style="margin-bottom: 15px">
          <ion-datetime max="2025"
                        displayFormat="DDD. DD MMM , YYYY"
                        [monthShortNames]="monthShortNames"
                        [dayShortNames]="dayShortNames"
                        cancelText="Отмена"
                        done-text="Ок"
                        formControlName="endDate">
          </ion-datetime>
        </ion-item>
      </form>
      <ion-buttons (click)="changeDatepickerVisible()">
        <ion-button fill="clear"
                    *ngIf="!isDatepickerVisible">
          Развернуть
          <ion-icon name="chevron-down-outline"></ion-icon>
        </ion-button>

        <ion-button fill="clear"
                    *ngIf="isDatepickerVisible">
          Свернуть
          <ion-icon name="chevron-up-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </div>

  <ion-refresher slot="fixed" (ionRefresh)="updateRespects($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-nav-link [component]="currentRespectPage"
                [componentProps]="{}"
                *ngFor="let respect of filteredRespectList">
    <ion-card>
      <ion-card-header [ngClass]="chooseRespectStyle(respect)">
        <div class="event-titles">
          <ion-card-subtitle>
            {{respect.date}}
            <ion-badge>{{respect.count}}</ion-badge>
          </ion-card-subtitle>
          <ion-card-title>
            {{respect.title}}
            <p>
              <ion-icon name="location-outline"></ion-icon>
              {{respect.location}}
            </p>
          </ion-card-title>
        </div>
      </ion-card-header>
    </ion-card>
  </ion-nav-link>
</ion-content>
