<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="medium">Карты</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="map-info-container" *ngIf="netConnection">
    <div class="map-info">
      <span> {{currentMapItem.name}} </span>
      <div class="side">
        <p [style.marginRight.px]="10"> {{currentMapItem.address}} </p>
        <p> {{currentMapItem.phone}} <br> {{currentMapItem.mail}} </p>
      </div>
    </div>
  </div>

  <iframe *ngIf="netConnection" [src]="iframeSrc"></iframe>

  <ion-slides [options]="{ slidesPerView: 2.7 }">
    <ion-slide *ngFor="let item of mapItemsList">
      <div [ngClass]="item.selected ? 'selected-map-item' : 'unselected-map-item'"
           (click)="chooseMapItem(item)">
        {{item.shortName}}
      </div>
    </ion-slide>
  </ion-slides>

  <ion-label *ngIf="!netConnection"> Картам необходимо постоянное соединение с интернетом </ion-label>
</ion-content>
