<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="medium">Карты</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d73322.32470424451!2d38.96408327008643!3d54.94990100963894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414a0c77154de23d%3A0xb7e7e7bf61b6d1f1!2z0JvRg9GF0L7QstC40YbRiywg0JzQvtGB0LrQvtCy0YHQutCw0Y8g0L7QsdC7Lg!5e0!3m2!1sru!2sru!4v1605729026851!5m2!1sru!2sru" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</ion-content>
