<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="medium">Посмотреть день</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title-text"> {{subTitle}} </div>

  <ion-refresher slot="fixed" (ionRefresh)="updateEventObjectsList($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let eventObject of eventObjects">
    <ion-card-header>
      <div class="event-titles">
        <ion-card-subtitle>
          {{getTimeFromEventObject(eventObject, true)}} : {{getTimeFromEventObject(eventObject, false)}}
        </ion-card-subtitle>
        <ion-card-title>
          {{eventObject.title}}
        </ion-card-title>
      </div>
    </ion-card-header>

    <ion-card-content>
      Локация: {{eventObject.location}} <br>
      Организатор: {{eventObject.organizer}} <br>
      Телефон: {{eventObject.phone}} <br>
      Комментарий: {{eventObject.notes}}
    </ion-card-content>

    <div class="event-buttons">
      <ion-button fill="clear" (click)="deleteEventObject(eventObject)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
      <ion-nav-link [component]="addEventPage"
                    [componentProps]="{ editEventObject:eventObject }">
        <ion-button fill="clear">
          <ion-icon name="create-outline" style="margin-right: -3px"></ion-icon>
        </ion-button>
      </ion-nav-link>
      <ion-button fill="clear">
        <ion-icon name="copy-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-card>
</ion-content>
