<!--<ion-tabs (window:resize)="onResize($event)">-->
<ion-tabs #tabs>
  <ion-tab-bar slot="bottom">
<!--               *ngIf="isTabsVisible">-->
    <ion-tab-button tab="cds-info"
                    (click)="changeTab('cds-info')">
      <ion-icon name="game-controller-outline" size="large"></ion-icon>
      <ion-label>ЦДС</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="studios-info"
                    (click)="changeTab('studios-info')">
      <ion-icon name="flame-outline" size="large"></ion-icon>
      <ion-label>Студии</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="events"
                    (click)="changeTab('events')">
      <ion-icon name="calendar-outline" size="large"></ion-icon>
      <ion-label>Мероприятия</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu-other"
                    (click)="changeTab('menu-other')">
      <ion-icon name="grid-outline" size="large"></ion-icon>
      <ion-label>Прочее</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
