<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="cds-info">
      <ion-icon name="male-outline"></ion-icon>
      <ion-label>ЦДС</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="studios-info">
      <ion-icon name="male-outline"></ion-icon>
      <ion-label>Студии</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="studios-entry-form">
      <ion-icon name="male-outline"></ion-icon>
      <ion-label>Запись в студию</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
