<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="medium">
      {{currentFullInfo ? currentFullInfo.studioName : 'Подробная информация'}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="currentFullInfo">
  <div class="leader-content">
    <div class="main-content">
      <ion-img [src]="currentFullInfo.leader.image"></ion-img>
      <div class="leader-text">
        <span> {{currentFullInfo.leader.name}} </span> <br>
        <ion-text> {{currentFullInfo.leader.mainInfo}} </ion-text>
      </div>
    </div>
    <div *ngIf="isLeaderInfoShows" class="additional-content">
      {{currentFullInfo.leader.fullInfo}}
    </div>

    <ion-buttons *ngIf="currentFullInfo.leader.fullInfo" (click)="showOrHideLeaderInfo()">
      <ion-button fill="clear"
                  *ngIf="!isLeaderInfoShows">
        Развернуть
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-button>

      <ion-button fill="clear"
                  *ngIf="isLeaderInfoShows">
        Свернуть
        <ion-icon name="chevron-up-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>

  <ion-slides [options]="{ slidesPerView: 2.7 }">
    <ion-slide *ngFor="let item of currentFullInfo.imgList">
      <ion-thumbnail style="--size: {{imageSize}}px;">
        <ion-img [src]="item.view"></ion-img>
      </ion-thumbnail>
    </ion-slide>
  </ion-slides>

  <div class="text-info-container" *ngFor="let i of currentFullInfo.content">
    <h1> {{i.header}} </h1>
    <div class="body-text" *ngFor="let j of i.body">
      <ion-icon *ngIf="i.body.length > 1" name="ellipse"></ion-icon>
      <span> {{j}} </span>
    </div>
<!--    <p *ngFor="let j of i.body">-->
<!--      <ion-icon *ngIf="i.body.length > 1" name="ellipse"></ion-icon>-->
<!--      {{j}}-->
<!--    </p>-->
  </div>
</ion-content>

<ion-label *ngIf="!currentFullInfo"> Приложению необходимо соединение с интернетом </ion-label>
