<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="medium">Какая-то студия</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="leader-content">
    <ion-img [src]="'https://sun9-43.userapi.com/impf/c848628/v848628255/11c737/zm3_epqYBwc.jpg?size=694x694&quality=96&proxy=1&sign=585f9181d1b66e1c37b0b4630378b68f'"></ion-img>
    <div class="leader-text">
      <span> Сосницкая Мария </span> <br>
      <ion-text> Выпускница РГУ нефти и газа им. Губкина. Один из основателей коллектива. </ion-text>
    </div>
  </div>
</ion-content>
