<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="medium">Запись в студию</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content">
    <form [formGroup]="currentFormGroup">
      <ion-item>
        <ion-label position="floating">
          Выберите студию:
        </ion-label>
        <ion-select interface="action-sheet"
                    [interfaceOptions]="{header: 'Выберите студию:'}"
                    cancelText="Отмена"
                    [placeholder]="defaultSelect"
                    formControlName="studio">
          <ion-select-option *ngFor="let selectOption of studioSelectOptions">
            {{selectOption}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngFor="let label of dynamicLabels">
        <ion-label position="floating">
          {{label.title}}
        </ion-label>
        <ion-icon *ngIf="label.icon"
                  [name]="label.icon"
                  slot="end"
                  size="small">
        </ion-icon>
        <ion-input type="{{label.type}}"
                   formControlName="{{label.formControlName}}">
        </ion-input>
      </ion-item>
    </form>
    <div class="foot">
      <div [style.margin.px]="10">
        <span> Нажимая кнопку «Отправить заявку», Вы даете согласие на обработку персональных данных </span>
      </div>
      <ion-button fill="outline"
                  shape="round"
                  size="large"
                  (click)="submit()"
                  [disabled]="!currentFormGroup.valid">
        Отправить заявку
      </ion-button>
    </div>
  </div>
</ion-content>
