.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;

  form {
    margin-bottom: 40px;
  }

  .foot {
    padding: 8px;
    text-align: center;
    span {
      font-size: 12px;
      color: var(--ion-color-step-600);
    }
    ion-button {
      width: 100%;
    }
  }
}
