<ion-header [ngClass]="showHeadAndFoot ? 'show-header' : 'hide-header'">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="hideModal()">
        <ion-icon name="close-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title size="medium">img3fg56734346.png</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content" (click)="hideShowHeadAndFoot()">
    <ion-img [src]="localViewPath">
    </ion-img>
  </div>
</ion-content>

<ion-footer [ngClass]="showHeadAndFoot ? 'show-footer' : 'hide-footer'">
  <ion-toolbar>
    <ion-buttons>
      <ion-button *ngIf="shared.isUserAdmin">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
      <ion-button *ngIf="id"
                  (click)="copyImageUrl()">
        <ion-icon name="copy"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
