.content {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;

  ion-button {
    margin: 0 10px;
  }
}

.show-header {
  transition: all 0.5s;
  margin-top: 0;
}

.hide-header {
  transition: all 0.5s;
  margin-top: -100px;
}

.show-footer {
  transition: all 0.5s;
  margin-bottom: 0;
}

.hide-footer {
  transition: all 0.5s;
  margin-bottom: -100px;
}
