<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="medium">Параметры</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>
        Темная тема
      </ion-label>
      <ion-toggle [ngModel]="userPrefersDark"
                  (ionChange)="changeToggle()"
                  id="themeToggle"
                  slot="end"></ion-toggle>
    </ion-item>

    <ion-item button="">
      <ion-icon slot="start" name="lock-open"></ion-icon>
      <ion-label>
        Ввести пароль
      </ion-label>
    </ion-item>

    <ion-item button="">
      <ion-icon slot="start" name="chatbox-ellipses"></ion-icon>
      <ion-label>
        Сообщить об ошибке
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
