<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="medium">Мероприятия</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content">
    <div class="head-buttons">
      <ion-nav-link [component]="addEventPage">
        <ion-button fill="outline"
                    expand="block"
                    (click)="createEvent()">
          Добавить
        </ion-button>
      </ion-nav-link>
      <ion-nav-link>
        <ion-button fill="outline"
                    expand="block">
          Посмотреть день
        </ion-button>
      </ion-nav-link>
    </div>

    <div class="tittle-calendar">
      <ion-button fill="outline"
                  (click)="prevMonth()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>

      <h2>{{calendarTitle}}</h2>

      <ion-button fill="outline"
                  (click)="nextMonth()">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </div>

    <calendar [eventSource]="currentEvents"
              [currentDate]="currentDate"
              calendarMode="month"
              (onTitleChanged)="onViewTittleChanged($event)"
              noEventsLabel="Нет мероприятий">
    </calendar>
  </div>
</ion-content>
