.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 99%;
  .text {
    padding: 20px;

    ion-label {
      font-size: 24px;
      font-weight: 300;
    }

    p {
      font-size: 16px;
      color: var(--ion-color-medium);
    }
  }

  ion-button {
    width: 98%;
  }
}
